$dev--color-color-dark :#21252b;
$dev--color-color-dark-fade:#282c34;
$dev--color-color-darker:black;

$dev--color-color-light :#ffffff;
$dev--color-color-light-fade:rgba(255, 254, 254, 0.27);

$dev--color-color0 : #9da5b4;
$dev--color-color0-fade : rgba(157, 165, 180, 0.6);
$dev--color-color1 : #d7dae0;
$dev--color-color1-fade : #d7dae0aa;
$dev--color-color2 : #3771e6;
$dev--color-color2-light : #4f89ff;
$dev--color-color2-fade : #3771e6aa;


$dev--color-color2-save : #4691f6;
$dev--color-color2-save-fade : #4691f6aa;

$dev--font-size-xs:0.6rem;
$dev--font-size-s:0.7rem;
$dev--font-size-m:0.8rem;
$dev--font-size-l:0.9rem;
$dev--font-size-xl:1rem;
$dev--font-size-xxl:1.1rem;
