$dev--color-color-dark :#2b2f3a;
$dev--color-color-dark-fade:#2b2f3a88;

$dev--color-color-light :#ffffff;
$dev--color-color-light-fade:rgba(255, 254, 254, 0.27);

$dev--color-color0 :rgb(70, 145, 246);
